body {
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.logo-container {
    margin-bottom: 20px;
    position: relative;
    top: -180px;
}
.logo {
    width: 200px;
    height: auto;
}
.logo-text {
    font-size: 24px;
    color: rgb(181, 186, 27);
    text-align: center;
    margin-top: 10px;
}
.pack img{
    width: 300px;
    height: 412px;
    margin-top: 10px;
}